@font-face {
  font-family: 'LibreFranklin';
  src: url('/acnh-tracker/librefranklin-regular.ttf'); 
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: url('/acnh-tracker/pattern-confetti-2x.jpg') repeat;
}

#root {
  font-family: 'LibreFranklin';
  color:#6b5c43;
  padding-bottom: 20px;
}
